.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px;
}

.row {
    align-items: flex-start;
    display: flex;
    margin-top: 30px;
    .tile {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}