.tile {
    background: $tiles-bg;
    border: 1px solid $tiles-border;
    border-radius: $tiles-border-radius;
    box-shadow: $tiles-box-shadow;
    color: $tiles-text-color;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 375px;

    &__left-side {
        align-items: center;
        display: flex;
    }

    &__thumbnail {
        border-top-left-radius: $tiles-border-radius - 1;
        border-bottom-left-radius: $tiles-border-radius - 1;
        flex-basis: 140px;
        height: 100%;
        min-width: 140px;
        overflow: hidden;
        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
        &--icon {
            align-items: center;
            display: flex;
            flex-basis: 80px;
            justify-content: flex-end;
            min-width: 80px;
            padding-left: 16px;
            width: 80px;
        }
    }

    &__content {
        padding: 24px 10px 24px 24px;
    }

    &__subtitle {
        // font-family: $tiles-subtitle-font-family;
        color: $tiles-subtitle-color;
        display: block;
        @extend %body-small-bold;
        margin-bottom: 8px;
    }
    &__title, h5 {
        @extend %body-default-bold;
        margin: 0 0 2px;
        &:only-child {
            margin-bottom: 0;
        }
    }
    p {
        @extend %body-default-regular;
        margin: 0;
    }

    &__title + p {
        @extend %body-small-regular
    }

    input {
        margin: 0;
        pointer-events: none;
    }
    
    &__check {
        padding: 24px 24px 0 0;
    }

    &:not(.tile--disabled):hover {
        background: $tiles-bg-hover;
    }

    &--disabled {
        background: $tiles-bg-disabled;
        border-color: $tiles-border-disabled;
        color: $tiles-text-disabled;
        cursor: default;
        .tile__thumbnail {
            opacity: .6;
        }
    }
    &--invalid {
        border-color: $tiles-border-error;
    }
    &--selected {
        background-color: $tiles-bg-hover;
        border-color: $tiles-border-selected;
    }
}