@mixin body-text($body-text, $font-weight) {
    font-family: '#{$body-font-family}', #{$font-family-sans-serif};
    font-size: pxToRem(map-get($body-text, font-size));
    font-weight: $font-weight;
    line-height: relativeLineHeight(map-get($body-text, line-height), map-get($body-text, font-size));
}